@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
    color: #1a1a1a;
    background: #f5f5f5;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* 大きな背景画像 */
.big-bg {
    background-size: cover;
    background-position: center;
}

/* 見出し */
.page-title {
    font-size: 5rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    text-shadoe: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.sub-title {
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #c7b299 solid;
    font-weight: normal;
}

/* ボタン */
.button {
    font-size: 1.375rem;
    color: #ffffff; /* 明るいテキスト色 */
    background-color: transparent;
    padding: 18px 32px;
    border: 3px solid #eeeeee; /* 枠線のみ */
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2); /* ホバーで背景をうっすら白に */
    color: #ffffff; /* テキスト色はそのまま白 */
}


/* iframe */
iframe {
    width: 100%;
}

/* HEADER
------------------------------- */
.page-header {
    display: flex;
    justify-content: space-between;
}
#menu-open {
    display: none;
}
.logo {
    width: 50px;
    margin-top: 14px;
}
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a {
    color: #eeeeee;
}
.main-nav a:hover {
    color: #cccccc;
}

/* HOME
------------------------------- */
#home {
    background-image: url("https://64.media.tumblr.com/ab4c0c8062cc8d4c04f046a0a0685359/7ee668739579702c-8a/s1280x1920/5828e00309c62ad2e1a34eae67963bd3caf6acba.jpg");
    background-position: center 75%;
    min-height: 100vh;
    color:#eeeeee;
}
#home .page-title {
    text-transform: none;
}
.home-content {
    text-align: center;
    margin-top: 6%;
    padding-top: 0;
}
.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

/* NEWS
------------------------------- */
#news {
    background-image: url("https://64.media.tumblr.com/0a65cd9e70cddd02947dbc7e6126cc22/a0211cbfac83ddeb-59/s1280x1920/d74b28b7dd64ade7b74401a71eb714ac29c725fd.jpg");
    background-position: center 80%;
    height: 270px;
    margin-bottom: 40px;
    color:#eeeeee;
}
.news-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/* 記事部分 */
article {
    width: 74%;
}
.post-info {
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
}
.post-date {
    background: #121212;
    color: #f5f5f5;
    width: 100px;
    height: 100px;
    font-size: 1.625rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;
}
.post-date span {
    font-size: 1rem;
    border-top: 1px rgba(255,255,255,.5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}
.post-title {
    font-size: 2rem;
    font-weight: normal;
}
.post-title,
.post-cat {
    margin-left: 120px;
}
article img {
    margin-bottom: 20px;
}
article p {
    margin-bottom: 1rem;
}

/* サイドバー */
aside {
    width: 22%;
}
.sub-menu {
    margin-bottom: 60px;
    list-style: none;
}
.sub-menu li {
    border-bottom: 1px #555555 solid;
}
.sub-menu a {
    color: #888888;
    padding: 10px;
    display: block;
}
.sub-menu a:hover {
    color: #4a90e2;
}
aside p {
    padding: 12px 10px;
}

/* GALLERY
------------------------------- */
#gallery {
    background-image: url("https://64.media.tumblr.com/8019e1e16a7d0417ae0aaab54f4a6379/7ee668739579702c-3c/s1280x1920/6eef0819014a7a81f830fded6a8e944fa37e1e87.jpg");
    min-height: 100vh;
    color:#eeeeee;
}
.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

/* CONTACT
------------------------------- */
#contact {
    background-image: url("https://64.media.tumblr.com/c05ef2af4cb96ae9d3e002c71f8f51d0/7ee668739579702c-b0/s1280x1920/ab14f75d97a65ff1fff829cc82582411155a7803.jpg");
    background-position: right;
    min-height: 100vh;
    color:#eeeeee;
}

/* 店舗情報・地図 */
#location {
    padding: 4% 0;
}
#location .wrapper {
    display: flex;
    justify-content: space-between;
}
.location-info {
    width: 22%;
}
.location-info p {
    padding: 12px 10px;
}
.location-info a {
    color: #888888;
}
.location-map {
    width: 74%;
}

/* SNS */
#sns {
    background: #121212;
    color: #e0e0e0;
    padding: 4% 0;
}
#sns .wrapper {
    display: flex;
    justify-content: space-between;
}
#sns .sub-title {
    margin-bottom: 30px;
}
.sns-box {
    width: 30%;
}
.sns-box a {
    color: #eeeeee;
}
.sns-box a:hover {
    color: #cccccc;
}

/* フッター
------------------------------- */
footer {
    background: #a8936a;
    text-align: center;
    padding: 26px 0;
}
footer p {
    color: #f5f5f5;
    font-size: 0.875rem;
}

/* モバイル版
------------------------------- */
@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }

    /* HEADER */
    .hamburger-menu {
        position: relative;
        z-index: 100;
        margin-top: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        cursor: pointer;
        gap: 10px;
    }
    .hamburger-line {
        width: 100%;
        height: 3px;
        background-color: white;
        border-radius: 3px;
        transition: 0.3s ease;
    }
    #menu-open:checked + .hamburger-menu .hamburger-line:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
    }
    #menu-open:checked + .hamburger-menu .hamburger-line:nth-child(2) {
        opacity: 0;
    }
    #menu-open:checked + .hamburger-menu .hamburger-line:nth-child(3) {
        transform: translateY(-13px) rotate(-45deg);
    }
    .main-nav {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99;
        left: 100%;
        background: #121212;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1rem;
        overflow-y: hidden;
        margin-top: 0;
        transition: 0.5s;
        touch-action: none
    }
    #menu-open:checked ~ .main-nav {
        left: 0;
    }
    .main-nav li {
        margin: 5%;
    }

    /* HOME */
    .home-content {
        margin-top: 12%;
    }

    /* NEWS */
    .news-contents {
        flex-direction: column;
    }
    #news .page-title {
        margin-top: 30px;
    }
    article,
    aside {
        width: 100%;
    }
    aside {
        margin-top: 60px;
    }
    .post-info {
        margin-bottom: 30px;
    }
    .post-date {
        width: 70px;
        height: 70px;
        font-size: 1rem;
    }
    .post-date span {
        font-size: 0.875rem;
        padding-top: 2px;
    }
    .post-title {
        font-size: 1.375rem;
    }
    .post-cat {
        font-size: 0.875rem;
        margin-top: 10px;
    }
    .post-title,
    .post-cat {
        margin-left: 80px;
    }

    /* GALLERY */
    #gallery .page-title {
        margin-top: 40px;
    }

    /* CONTACT */
    #contact .page-title {
        margin-top: 40px;
    }

    /* 店舗情報・地図 / SNS */
    #location .wrapper,
    #sns .wrapper {
        flex-direction: column;
    }
    .location-info,
    .location-map,
    .sns-box {
        width: 100%;
    }
    .sns-box {
        margin-bottom: 30px;
    }
}
